
body{
  background-color: rgb(255, 255, 255);
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
}
p {
  margin: 0px;
}
:root{
  --searchbarColor: rgb(247, 247, 247);
}
#unitConvBtn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px rgb(0, 0, 0) solid;
  background-color: rgb(217, 217, 217);
  color:rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 600;
}
#searchbar-div {
  flex: 1;
  display:flex;
  gap: 10px;
  background-color: var(--searchbarColor);
  width:calc(100vw,-25px);
  height: 40px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  padding:10px 15px;
  margin: 5px 0px;
}
#searchbar-div input{
  flex:1;
  border: none;
  height: 100%;
  background-color: var(--searchbarColor);
}
#searchbar-send-btn {
  border:none;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.0);
  padding:15px;
}
.temp-card {
  display:grid;
  justify-content: center;
  align-items: center;
  flex-direction: 1fr;
}
.temp-desc{
  font-size: 15px;
}
#overview {
}
#cityName {
}
#upper-overview-stat {
  display:grid;
  justify-content: center;
  align-items: center;
}
#upper-overview-stat h2 {
  font-size: 40px;
  text-align: center;
}
#main-overview-temp {
  display:flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 600;
}
#main-overview-temp h1 {
  margin:0px;
}
#minor-overview-temp {
  font-size: 30px;
  font-weight: 500;
  display:flex;
  gap: 30px;
  display:flex;
  justify-content: space-between
}
#minor-overview-temp {


}
#overview-bg {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  width: 90vw;
  padding-top:60px;
  background-color: rgb(231, 231, 231);
}
#overview-section {
  display:flex;
  justify-content: center;
}
.info-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600px;
  flex:1;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.1);
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 10px;
}
.card svg {
  padding: 10px 0px 10px 20px;
}
.info-card div {
  font-size: 45px;
  font-weight: 500;
}
#min-overviewstat {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 15px;
  padding: 50px 50px;
  border-radius: 10px;
  margin-top: 40px;
}
.card div div {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
}

.flex{
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.flex *{
  margin: 0;
}
.center {
  display:flex;
  justify-content: center;
  align-items: center;
}
#rain-bg {
  background-color: rgb(43, 149, 255);
}
#wind-bg {
  background-color: rgb(201, 231, 255);
}
#sunrise-bg {
  background-color: rgb(255, 225, 0);
}
#sunset-bg {
  background-color: rgb(255, 189, 221);
}
#humidity-bg {
  background-color: rgb(129, 213, 246);
}
#cloudy-bg {
  background-color: rgb(255, 255, 255);
}
.minorTextInfo {
  font-size: 20px;
}

#danger {
  color:white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px;
  display:grid;
  gap: 10px;
  grid-template-columns: 1fr;
  display: none;
}

.danger-bg {
  background-color: rgb(192, 0, 0);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.danger-desc{
  white-space: pre-wrap;
}
#forcast-div {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 6px solid black;
  flex-direction: column;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
}
#unitConv-search-divider {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 15px;
}
.forecast-icon {
  font-size: 150px;
}
#forcast-div h3{
  margin: 0;
}
#overcast-center-div {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#condition-text{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
  color:rgb(80, 80, 80)
}


#hourly {
  margin-top: 30px;
  background-color: rgb(255, 241, 162);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 70px 0px;
  padding-bottom: 120px;

}
#currentTemp-icon-div {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height:100px
}
#currentTemp {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hourlyIcon {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#hourlyCarousel {
  background-color: rgb(199, 104, 21);
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  margin: 30px 0;
}

.hourlyCarouselBtn {
  font-size: 80px;
  color: white;
}

#hourSelectionDiv {
  display:grid;
  justify-content: left;
  align-items: center;
  gap: 10px;
  left: 0;
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  position: relative;
  transition: left 0.5s ease-in-out;
}
#caro-hidden {
  overflow:hidden;
  border-radius: 10px;
}
#hourlyChartResizeDiv {
  width: 80vw;
  height: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.hourlyCard {
  background-color: rgb(239, 171, 75);
  box-sizing:border-box;
  display:grid;
  width: 150px;
  height: 180px;
  padding: 10px 30px;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
#moon {
  background-color: rgb(4, 4, 86);
  color: white;
  padding: 40px;
}
#moonOverviewDiv {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.moon-icon {
  width: 70px;
}
.moonCard {
  background-color: black;
  width: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.537);
}
#moonList {
  margin: 15px;
  display:flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  overflow-x:scroll;
  scrollbar-width: none;
  padding: 10px;
}


.moonName {
  padding: 15px 0px;
  text-align:center;
}